{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/a1.css' %}">
</head>
<body>
    <center>
        <h1>THE KING OF NATION</h1>
        <marquee behavior="alternate" direction="left" scrollamount="10"><img src="{% static 'images/IMG4.jpg' %}" alt="no image"></marquee>
        <marquee behavior="alternate" direction="right" scrollamount="10"><img src="{% static 'images/friends.jpg' %}" alt="no image"></marquee>
        
    </center>
</body>
</html>