{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<font face="impact" color="blue" size="3"><h1 align="center">SEMINAR SCHEDULE</h1></font>
	<table align="center" cellpadding="15px" cellspacing="2px" border="2px">
		<tr>
			<th rowspan="3">DAY</th>
			<th colspan="4">SEMINAR</th>
		</tr>
		<tr>
			<th colspan="2">SCHEDULE</th>
			<th rowspan="2" colspan="2">TOPIC</th>
		</tr>
		<tr>
			<th>BEING</th>
			<th>END</th>
		</tr>
		<tr>
			<th rowspan="2" >MONDAY</th>
			<td rowspan="2">8:00 a.m</td>
			<td rowspan="2">5:00 P.m</td>
			<td>Introduction to XML</td>
		</tr>
		<tr>
			<td> Validity:DTD and Relax NG</td>
		</tr>
		<tr>
			<th rowspan="3">TUESDAY</th>
			<td>8:00 a.m</td>
			<td>11:00 a.m</td>
			<td rowspan="2">XPath</td>
		</tr>
		<tr>
			<td>11:00 a.m</td>
			<td>2:00 p.m</td>
		</tr>
		<tr>
			<td>2:00 p.m</td>
			<td>5:00 p.m</td> 
			<td>XSL Transforamtions</td>
		</tr>
		<tr>
			<th>WEDNESDAY</th>
			<td>8:00 a.m</td>
			<td>12:00 p.m</td>
			<td>XLS Formatting Objects</td>
		</tr>
	</table>
</body>
</html>